*:root {
  --max-form-width: 400px;
  --form-width: 60vmax
}

body {
  color: var(--text);
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  padding: 0 10vw;
  position: sticky;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(225deg, var(--light-bg), var(--bg));
}

.page {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top {
  max-width: var(--max-form-width);
  width: var(--form-width);
  padding: 0 0 8vmin 0;
  display: flex;
  justify-content: space-between;
}

.top span {
  font-size: 5vmin;
  position: relative;
  cursor: pointer;
}

.top span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: .75vmin;
  bottom: -1.5vmin;
  border-radius: 1vmin;
  background-color: var(--main);
  transform: scaleX(0);
  transition: transform var(--micro-transition) ease-in;
}

.login-span::before {
  transform-origin: left;
}

.signup-span::before {
  transform-origin: right;
}

.login-span:hover::before,
.login-span.active::before,
.signup-span:hover::before,
.signup-span.active::before {
  transform: scaleX(1);
}

form {
  max-width: var(--max-form-width);
  width: var(--form-width);
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

form.visible {
  display: flex;
}

form .intro-text {
  padding: 1vmin 0 4vmin 0;
}

form label {
  width: 100%;
  padding: 2vmin 0;
}

form label input {
  width: 100%;
  color: var(--text);
  padding: 1vmin 1.5vmax;
  border-radius: 10vmax;
  background-color: var(--light-bg);
}

form button {
  margin-left: auto;
  margin-top: 5vmin;
}