* {
  margin: 0;
  padding: 0;
  font-size: 3vmin;
  box-sizing: border-box;
  font-family: "Montserrat";
}

*:root {
  --main: #28d499;
  --bin: #e62828;

  --light-bg-dark: #24323f;
  --bg-dark: #0d1b2a;
  --dark-bg-dark: #050b1e;
  --text-dark: #f9f9f9;
  --navbar-svg-dark: #dddddd;

  --light-bg-light: #ffffff;
  --bg-light: #e0e0e0;
  --dark-bg-light: #aaaaaa;
  --text-light: #111111;
  --navbar-svg-light: #1b1b1b;

  --micro-transition: 225ms;

  --phone-threeshold: 850px;
}

html {
  background-color: var(--bg);
}

*::-webkit-scrollbar {
  width: 0.35rem;
}

*::-webkit-scrollbar-track {
  background: var(--dark-bg);
}

*::-webkit-scrollbar-thumb {
  background: var(--main);
}

button {
  cursor: pointer;
  padding: 1vmin 2.5vmax;
  border-radius: 10vmax;
  border: 1px solid transparent;
  outline: none;
  color: var(--text);
  background-color: var(--main);
  transition: transform var(--micro-transition) ease-in, border 275ms;
}

button:hover,
button:focus {
  transform: scale(1.075);
  border: 1px solid var(--main);
}

.no-before::before {
  display: none;
}

input {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10vmax;
  padding: 1vmin 2vmax;
  color: var(--text);
  outline: none;
  background-color: var(--light-bg);
  transition: border 275ms;
}

input:focus {
  border: 1px solid var(--main);
}

.title {
  line-height: 9vmin;
  font-size: 6vmin;
  text-align: center;
}

.svg-main-color {
  fill: var(--main);
  stroke: var(--main);
}

.svg-fill-main-color {
  fill: var(--main);
}

.svg-stroke-main-color {
  stroke: var(--main);
}

.svg-dark-color {
  fill: var(--light-bg);
}

.svg-bin-color {
  fill: var(--bin);
}

.svg-stop-main {
  stop-color: var(--main);
}

/* Colors Scheme */
.dark {
  --light-bg: var(--light-bg-dark);
  --bg: var(--bg-dark);
  --dark-bg: var(--dark-bg-dark);
  --text: var(--text-dark);
  --navbar-svg: var(--navbar-svg-dark);
}

.light {
  --light-bg: var(--light-bg-light);
  --bg: var(--bg-light);
  --dark-bg: var(--dark-bg-light);
  --text: var(--text-light);
  --navbar-svg: var(--navbar-svg-light);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: "./Font/Montserrat-Regular.ttf";
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: "./Font/Montserrat-SemiBold.ttf";
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
